pkgbase = steer
	pkgdesc = Transparent proxy policy compiler and Linux systemd adapter
	pkgver = 0.10.0
	pkgrel = 1
	url = https://github.com/gsh20040816/steer
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = go
	depends = ca-certificates
	depends = iproute2
	depends = nftables
	depends = sing-box
	depends = systemd
	noextract = steer-geodata.tar.zst
	backup = etc/steer/config.json
	backup = etc/steer/web.json
	source = steer::git+https://github.com/gsh20040816/steer.git#commit=64f70c7bd24ad9bd2419bb531962114d22e54ed5
	source = steer-geodata.tar.zst::https://gsh20040816.github.io/steer/geodata/latest/steer-geodata.tar.zst
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = steer
